:root {
    // 폰트 변수
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";
  
    // 컬러 변수
    --black: #000;
    --black100: #161616;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #000;
  
    --blackAlpha: #00000000;
    --blackAlpha100: #00000025;
    --blackAlpha200: #0000004d;
    --blackAlpha300: #00000091;
    --blackAlpha400: #000000c3;
    --blackAlpha500: #000000eb;
  
    --white: #fff;
    --white100: #efefef;
    --white200: #d9d9d9;
    --white300: #fff;
    --white400: #fff;
    --white500: #fff;
  
    --red: #f00;
  
    // 폰트 크기 변수
    --font-base: 14px;
    --font-base-m: 12px;
  }

